<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moses.io">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ListFilesActivity" />
        <activity android:name=".SearchFileActivity" />
        <activity android:name=".mediaplayer.PagerPlayerActivity" />
        <activity android:name=".services.MusicUI" />
        <activity android:name=".AIDLMusicActivity" />
        <activity android:name="com.moses.io.testuis.MyAsyncTaskActivity" />
        <activity android:name="com.moses.io.testuis.HttpAsynsTaskBitmapActivity" />
        <activity android:name=".testuis.GridViewAsyncTaskNoThreadPoolHttpBitmapActivity" />
        <activity android:name=".testuis.GridViewAsyncTaskHttpBitmapActivity" />
        <activity android:name="com.moses.io.network.MyWebActivity" />
        <activity android:name="com.moses.io.network.IWebActivity" />
        <activity android:name="com.moses.io.network.MyJsonActivity" />
        <activity android:name="com.moses.io.network.MyJsonImgActivity" />
        <activity android:name="com.moses.io.network.InternetListActivity" />
        <activity android:name="com.moses.io.network.TuLingChatActivity"/>

        <activity android:name="com.moses.io.gate.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testuis.GridViewThreadHttpBitmapActivity" />
        <activity android:name=".testuis.GridViewAsyncTaskThreadPoolHttpBitmapActivity" />
        <activity android:name=".network.SimpleWebViewActivity" />
        <activity android:name="com.moses.io.SimpleCallBackActivity" />

        <service android:name=".services.MusicService" />

        <receiver android:name="com.moses.io.services.MusicPlayerBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
